.css-16bqg8b-MuiBadge-root .MuiBadge-badge {
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.img_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.viewImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 576px) {
    .img_modal {
        max-width: 70%;
        width: 80%;
        height: 100%;
        max-height: 70%;
    }
}
