.SignUpCard {
    padding: 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border-radius: 30px !important;
    max-width: 100%;
    width: 1000px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px !important;
    color: black !important;
}

.AvatarBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Toastify__toast {
    font-size: 14px;
    width: 300px;
}

.Toastify__toast-container {
    top: 20px;
    right: 20px;
}
