.MainCard {
    padding: 40px 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border-radius: 20px !important;
    max-width: 100%;
    width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px !important;
    color: black !important;
}

.signin_texts {
    font-size: clamp(14px, 3vw, 16px) !important;
}

@media (max-width: 576px) {
    .MainCard {
        width: 90%;
        padding: 20px;
    }
}
