.chatBox {
    background-color: white;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 45px);
    border: 1px solid #ccc;
}

.chat_header_box {
    padding: 20px;
    border-radius: 20px 0px 0px 0px;
    border-bottom: 1px solid #ccc;
}

.chat_header_box input {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 10px;
    padding: 0px 0px 0px 20px;
    height: 40px;
}

.chat_header_box input:focus {
    outline: none;
}

.chat_Add {
    background-color: white;
    padding: 20px;
    height: auto;
    border-top: 1px solid #ccc;
}
.chat_body {
    width: 100%;
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
}

.chat_left {
    border-right: 1px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat_users {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    overflow: auto;
}

.chat_msg_header {
    background-color: #ffffff;
    width: 100%;
    max-height: 81px;
    height: 100%;
    border-radius: 0px 20px 0px 0px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.chat_msg_header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chat_msg_body {
    width: 100%;
    height: 100%;
    background-color: #e3f2fd;
    display: block;
    padding: 20px;
    overflow: auto;
    position: relative;
}

.chat_footer {
    height: 85.8px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    position: relative;
    border-top: 1px solid #ccc;
}

.chat_footer input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 45px;
    padding: 0px 0px 0px 50px;
}

.chat_footer input:focus {
    outline: none;
}

.deleteIcon {
    display: none;
}

.attachFile {
    position: absolute;
    top: -60px;
    right: 15px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    gap: 20px;
    border: 1px solid #ccc;
}

.EmojiDiv {
    position: absolute;
    /* top: 0; */
    left: 20px;
}

@media (max-width: 576px) {
    .chat_users {
        height: 300px;
    }

    .chatBox {
        overflow: auto;
    }

    .chat_Add {
        border-bottom: 1px solid #ccc;
    }

    .chat_left {
        border-right: 1px solid #ccc;
    }

    .chat_body {
        border-right: 1px solid #ccc;
        height: 650px;
    }

    .chat_footer {
        padding: 12px;
    }
}

@media (min-width: 576px) {
    .chat_users {
        /* height: 300px; */
        height: auto;
    }

    .chat_left {
        height: 500px;
    }

    .chatBox {
        overflow: auto;
    }

    .chat_Add {
        border-bottom: 1px solid #ccc;
    }

    .chat_body {
        border-right: 1px solid #ccc;
    }
}

@media (min-width: 768px) {
    .chat_users {
        /* height: 300px; */
        height: auto;
    }

    .chat_left {
        height: 500px;
    }

    .chatBox {
        overflow: auto;
    }

    .chat_Add {
        border-bottom: 1px solid #ccc;
    }

    .chat_body {
        border-right: 1px solid #ccc;
    }
}

@media (min-width: 992px) {
    .chat_users {
        height: 100%;
    }

    .chatBox {
        overflow: hidden;
    }

    .chat_left {
        height: 100%;
    }

    .chat_Add {
        border-bottom: none;
    }
}

@media (min-width: 1200px) {
    .chat_users {
        height: 100%;
    }

    .chatBox {
        overflow: hidden;
    }
}
