body {
    background-color: white;
}

.HomePage {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.HomePage * {
    padding: 0;
}

@media (max-width: 576px) {
    .HomePage {
        flex-direction: column-reverse;
    }
}
