.SideBar {
    width: 80px;
    height: 100vh;
    transition: width 0.4s linear, box-shadow 0.4s ease-in-out;
    padding: 10px !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.Sidebar_header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 14px !important;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.Sidebar_Body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.Sidebar_Body_row {
    display: flex;
}

.Sidebar_Body > div {
    display: flex;
    gap: 13px;
    margin-top: 30px;
}

.Sidebar_section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 14px !important;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.header_icon {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.header_icon svg {
    width: 25px;
    height: 25px;
    display: block;
}

.header_text {
    display: none;
}

.SideBar:hover {
    box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.25);
}

.SideBar:hover .header_text {
    display: flex;
    width: 100%;
}

.SideBar:hover .header_icon {
    width: 30px;
}

.Sidebar_section:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.SideBar:hover .Sidebar_section {
    cursor: pointer;
}

button.Sidebar_section {
    border: none;
    background-color: #eb2d3a !important;
    color: white !important;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.Sidebar_section:hover {
    background-color: red !important;
}

.activeComponent {
    background-color: rgb(243 244 246);
}

@media (max-width: 576px) {
    .SideBar {
        flex-direction: row-reverse;
        width: 100%;
        height: auto;
        position: sticky;
        box-shadow: none;
        justify-content: space-around;
        align-items: center;
        bottom: 0;
        background-color: white;
        z-index: 100;
        border-top: 1px solid #ccc;
    }

    .Sidebar_Body > div {
        margin: 0;
    }

    .Sidebar_Body_row {
        flex-direction: row;
    }

    .Sidebar_Body > div:nth-child(2) {
        margin-left: 13px;
    }

    .Sidebar_header {
        display: none;
    }

    .Sidebar_Body {
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        margin-top: 0;
    }

    .Sidebar_section {
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        padding: 10px;
        border-radius: 0;
    }

    .Sidebar_section p {
        display: none;
    }

    .header_icon {
        width: 40px;
        height: 40px;
    }

    .header_icon svg {
        width: 30px;
        height: 30px;
    }

    .header_text {
        display: block;
        text-align: center;
        font-size: 12px;
    }

    .SideBar:hover .header_icon {
        width: 40px;
    }
}

@media (min-width: 576px) {
    .SideBar:hover {
        width: 255px;
    }

    .SideBar:hover .header_text {
        margin-left: 20px;
    }

    .Sidebar_Body_row {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .SideBar:hover {
        width: 255px;
    }

    .SideBar:hover .header_text {
        margin-left: 30px;
    }
}

@media (min-width: 992px) {
    .SideBar:hover {
        width: 255px;
    }

    .SideBar:hover .header_text {
        margin-left: 40px;
    }
}

@media (min-width: 1200px) {
    .SideBar:hover {
        width: 255px;
    }

    .SideBar:hover .header_text {
        margin-left: 40px;
    }
}
